body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  display: block;
  width: 180px;
  margin-left: 100px;
  float: left;
  padding: 10px 0;
}
@media screen and  (min-width: 480px) and (max-width: 960px){
  .container {
    flex-direction: column;
    display: flex;
  } 
};

@media screen and (max-width: 480px) {
  .container-fluid {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
header {
  background-color: rgb(129, 148, 165);
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
  position: relative;
}

nav ul {
  margin: 1rem auto;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 20px;
}
nav ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  flex-direction: column;
}

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}
.centered {
  position: absolute;
  top: 65%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  width: 100%;
}
h1 {
  color: rgb(83, 83, 83);
  text-align: center;
  font-size: 40px;
}
h2 {
  color: rgb(85, 84, 84);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
* {
  box-sizing: border-box;
  border-radius: 1px solid white;
}

/* BannerPage */
.subContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bannerImg {
  object-fit: cover;
}

/* flexbox Part 1*/

@media screen and (max-width: 720px) {
  .flexbox-container {
   flex-direction: column;
  }
}
.flexbox-container {
display: flex;
justify-content: center;
width: 100%;
}
.flexbox-item {
  width: 400px;
  min-height: 450px;
  margin: 10px;
  box-shadow: 0px 1px 3px black;
  background-color: #bac3c9;
}
.colImg1 {
  width: 120px;
  margin-top: 25px;
}
.card0 {
  text-align: center;
  color: white;
  padding: 35px;
  font-size: 17px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .btn>button {
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn>button {
  font-size: 30px;
  padding: 15px 32px 15px 32px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(108, 126, 143);
  box-shadow: 0 1px 2px rgba(105, 103, 103, 0.5);
  margin-bottom: 20px;
  margin-top: 80px;
}

/* Flex Two Column Layout */

.flex-containerTwo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-left {
  width: 50%;
  margin: 5px;
  padding: 5px;
}

.flex-right {
  width: 50%;
  margin: 5px;
  padding: 5px;
}

.img2 {
  width: 150px;
  float: left;
}

@media screen and (max-width: 768px) {
  footer {
    margin: auto;
    display: block;
  }
}
footer {
  background-color: rgb(129, 148, 165);
  width: 100%;
  display: table;
}

.footLogo {
  width: 50px;
  margin-top: 40px;
  margin-left: 30px;
  float: left;
  padding: 10px 0;
  padding-bottom: 30px;
}
h5 {
  font-size: 25px;
  text-shadow: 0px 1px 1px black;
}
h4 {
  text-align: center;
  color: white;
  font-weight: 300;
  padding-top: 50px;
}
h3 {
  padding-left: 200px; 
  font-size: 30px;
  color: rgb(70, 68, 68);
  padding-top: 80px;
}
.icon {
  letter-spacing: 20px;
  text-align: center;
}
.icon > img {
  width: 40px;
}

/* About Page */

.colOne {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
.colTwo {
  float: right;
  width: 50%;
  padding: 10px;
  height: 300px; 
}
@media screen and (max-width: 480px) {
  .cardsOne {
    margin: auto;
    
  }
}
.cardsOne:after {
  content: "";
  display: flex;
  clear: both;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.aboutImgOne {
  width: 550px;
  margin-left: 100px;
}
#text1 {
  color: rgb(83, 83, 83);
  font-size: 35px;
  padding-left: 100px;
  line-height: 1.2em;
  letter-spacing: 4px;
}
#text2 {
  color: rgb(87, 85, 85);
  font-size: 22px;
  padding-left: 100px;
  line-height: 1.6em;
}

.colThree {
  float: right;
  width: 50%;
  padding: 10px;
  margin-right: 80px;
  height: 300px; 
}
.colFour {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.cardsTwo {
  margin-top: 600px;
  margin-bottom: 150px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

/* //Contact Page */

.textNine {
font-size: 35px;
color: rgb(85, 83, 83);
text-align: center;
}
.textFive {
  margin-left: 300px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-weight: 600;
  color: rgb(70, 68, 68);
  font-size: 30px;

}
.textEleven {
  margin-left: 300px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-weight: 500;
  color: rgb(73, 72, 72);
  font-size: 25px;

}
.rowContact {
  margin-bottom: 100px;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
.imgMap {
  width: 900px;
  margin-left: 300px;
  margin-bottom: 100px;
}